.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 120, 127, 0.05);
}
.table-hover tbody tr:hover {
    color: black;
    background-color: #ffd800;
}
    .table-bordered th,
    .table-bordered td {
        border: 2px dashed #ffd800;
    }

.breadcrumb {
    background-color: #ffd800;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #000000;
    content: ">";
}